@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Hanna';
}
h5 {
	font-family: 'Hanna';
	font-size: 18px;
}
body {
	font-family: 'Hanna';
}